* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Textile"; 
    src: url('../fonts/textile.ttf') format('truetype'); 
}

#heyoooo{
    display: none;
}

/* BARVY
#333333     SEDA
green       ZELENA
lightgreen  Svetle zelena
*/

/* GENERAL SETTINGS OF STYLE */

body{
    background-image: url("../img/bg/bg-body.svg");
    margin: 0 auto;
    padding: 0;
}

main{
    margin: 0 auto;
    
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

h2{
    letter-spacing: 0.2rem;
    font-family: "Calistoga";
    text-transform: uppercase;
    font-size: 16px;
    color: green;
}

h3{
    font-family: "Calistoga";
    color: #333;
}

p{
    font-family: "Spectral";
    color:#333;
    font-size: 16px;
}

.name{
    font-family: "Spectral";
    color:#333;
    font-size: 20px;
}


#about, #events, #services, footer,
#team .section-content,
#menu .section-content, 
#contact .section-content{
    min-width: 768px;
    max-width: 1200px;
}

section, #team .section-content,
#menu .section-content, #contact .section-content{
    display: block;
    margin: 0 auto;
}

#about, #events, #services, footer{
    background-color: white;
    border-left: 1px dashed green;
    border-right: 1px dashed green;
}

#about, #team, #events, #menu, #services, #contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 160px;
}

.heading{
    text-align: center;
    margin-bottom: 20px;
}

.heading span{
    font-size: 24px;
    font-family: "Textile";
    color: #333;
}

#team h2, #menu h2, #contact h2{
    color: lightgreen;
}

#team span, #menu span, #contact span{
    color: white;
}



.references ul{
    display: flex;
    flex-direction: row;
}

.references li{
    width: 20px;
    height: 20px;
    margin: 0px 6px;
   
}

.references a{
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: transparent;
    visibility: hidden;
}

.references a::before{
    visibility: visible;
    color: green;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f005";
}

img{
    opacity: 0.9;
}

/* END OF GENERAL STYLE */

/* ABOUT SECTION STYLE */
#about .heading{
    text-align: center;
}

#about .references{
    margin-left: 20%;
}

#about .name{
    margin-left: 29%;
}
/* END OF ABOUT STYLE */

/* TEAM SECTION STYLE */

#team{
    background-image: url("../img/bg/bg-team.jpg");
}

#team .section-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

#team .section-item{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}

#team img{
    order: 1;
    height: 300px;
    min-width: 250px;
    padding: 5px 5px 0px 5px;
    object-fit: cover;
}

#team h3{
    order: 2;
}

#team .references{
    order: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#team p{
    order: 4;
}
/* END OF TEAM STYLE */

/* EVENTS SECTION STYLE */

#events .section-item{
    display: inline-block;
    padding: 20px 0px;
    margin: 0px 10px
}

#events h3{
    margin: 0;
   
}

#events .section-item:nth-child(2) h3{
    text-align: end;
}

#events .section-item:nth-child(2) .events-props{
    justify-content: end;   
}

#events .section-item:nth-child(2){
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
}

#events p{
    margin: 0;
}

.events-props{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.events-props span{
    margin-top: 4px;
    color:#333;
}

#events .section-item img{
    width: 40%;
    float: left;
    margin-right: 20px;
    margin-left: 0px;
}


#events .section-item:nth-child(2) img{
    width: 40%;
    float: right;
    margin-left: 20px;
    margin-right: 0px;
}

#events .references ul{
    height: 32px;
    align-items: center;

}

/* END OF EVENTS STYLE */

/* MENU SECTION STYLE */

#menu{
    background-image: url("../img/bg/bg-menu.jpg");
}

#menu .section-content{
    
    width: 95%;
    height: 95%;
    border: 25px solid white;
    display: grid;
    grid-template-areas: "catfood catfood cihmi rumham"
                         "cake charlie cihmi rumham"
                         "cake charlie sausages sausages"
                         "mac mac sausages sausages";
    grid-template-columns: repeat(4, 1fr); /* Adjust the number based on your layout */
    grid-template-rows: repeat(4, 1fr);
}

#menu .section-item{ 
    display: flex;
    height: 100%;
    width: 100%;
}

#menu .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description a{
    color:#333;
}

#menu .description span{
    color: #333;
    font-size: 32px;
}

#menu .description span::before{
    content: "$";
}

#menu .section-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#menu .section-item:nth-child(1) .figures,
#menu .section-item:nth-child(1) .description, 
#menu .section-item:nth-child(6) .figures,
#menu .section-item:nth-child(6) .description {
   width: 50%;
   height: 100%;
}

#menu .section-item:nth-child(3) .figures{
    width: 50%;
    height: 50%;
}

#menu .section-item:nth-child(3) .description{
    width: 50%;
}

#menu .section-item:nth-child(2) .figures, 
#menu .section-item:nth-child(2) .description,
#menu .section-item:nth-child(4) .figures, 
#menu .section-item:nth-child(4) .description,
#menu .section-item:nth-child(5) .figures, 
#menu .section-item:nth-child(5) .description,
#menu .section-item:nth-child(7) .figures, 
#menu .section-item:nth-child(7) .description{
    width: 100%;
    height: 50%;
}

#menu .section-item .description{
   
    background-color: #cce6c2;
    
    
    
}

#menu .section-item:nth-child(1){
    grid-area: catfood;
    flex-direction: row;
    
}

#menu .section-item:nth-child(2){
    grid-area: cake;
    flex-direction: column-reverse;
   
}

#menu .section-item:nth-child(3){
    grid-area: sausages;
    flex-direction: row;
}

#menu .section-item:nth-child(4){
    grid-area: charlie;
    flex-direction: column;
    
   
}

#menu .section-item:nth-child(5){
    grid-area: cihmi;
    flex-direction: column;
   
}

#menu .section-item:nth-child(6){
    grid-area: mac;
    flex-direction: row-reverse;
   

}

#menu .section-item:nth-child(7){
    grid-area: rumham;
    flex-flow: column-reverse;
  
}

#menu .section-item:nth-child(3) img{
    display: flex;
    flex-direction: column;
}

/* END OF MENU STYLE */

